i.fas.fa-phone {
  font-size: 20px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 5px;
}

.title_bar_txt_phone h3 {
  font-size: 20px;
  display: inline;
  padding: 5px;
}

.title_bar_txt_phone {
  display: inline;
}

.title_bar_txt_email {
  display: inline;
}



.title_bar_txt_email h3 {font-size: 20px;display: inline;border-right: 2px solid black;padding: 4px;}

i.fas.fa-envelope-open {
  margin-left: -5px;
  font-size: 20px;
  border-right: 2px solid black;
  padding: 5px;
  border-left: 2px solid black;
}
.title_bar_txt {
  display: inline;
  overflow: hidden;
  margin-left: -4px;
}

.social\|_icons {
  display: inline;
  float: right;
}


.social\|_icons i {
  font-size: 20px;
  color: black;
  border-right: 2px solid;
  padding: 5px;
  border-left: 2px solid black;
}


i.fab.fa-youtube {
  border-right: 2px solid black;
}
.title_bar {
}


i.fab.fa-facebook:hover {
  color: white;
  background: blue;
}

i.fab.fa-instagram-square:hover {
  color: darkorange;
  background: white;
}

i.fab.fa-youtube:hover {
  color: red;
  background: white;
}


.logo img {
  height: 22px;
  width: 181px;
}

.logo {
  display: inline;
}
i.fab.fa-facebook {
  margin-right: -6px;
}

i.fab.fa-instagram-square {
  margin-right: -6px;
}
.msinwrapper a {
  text-decoration: none;
  margin-left: 14px;
  padding: 2px;
}

.msinwrapper a h3 {
  display: inline;
  font-size: 20px;
  padding: 5px;
  color: slategray;
  font-family: system-ui;
  letter-spacing: 1px;
}

.msinwrapper a h3:hover {
      background: darkgray;
      color: black;
}

.msinwrapper {float: right;background: aqua;padding: 5px;margin-top: -5px;padding-left: 0;}
.menu {
}
.msinwrapper a:first-child {
  padding-left: 276px;
}


header {position: sticky;}


.title {text-align: center;}

section.Skill_info {
}

.title h2 {
  font-size: 33px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: underline;
  color: navy;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.title p {
  font-size: 22px;
  margin-top: 0;
  padding: 14px;
  padding-top: 0;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}
i.fas.fa-phone {
  font-size: 20px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 5px;
}

.title_bar_txt_phone h3 {
  font-size: 20px;
  display: inline;
  padding: 5px;
}

.title_bar_txt_phone {
  display: inline;
}

.title_bar_txt_email {
  display: inline;
}



.title_bar_txt_email h3 {font-size: 20px;display: inline;border-right: 2px solid black;padding: 4px;}

i.fas.fa-envelope-open {
  margin-left: -5px;
  font-size: 20px;
  border-right: 2px solid black;
  padding: 5px;
  border-left: 2px solid black;
}
.title_bar_txt {
  display: inline;
  overflow: hidden;
  margin-left: -4px;
}

.social\|_icons {
  display: inline;
  float: right;
}


.social\|_icons i {
  font-size: 20px;
  color: black;
  border-right: 2px solid;
  padding: 5px;
  border-left: 2px solid black;
}


i.fab.fa-youtube {
  border-right: 2px solid black;
}
.title_bar {
  background-color: cadetblue;
}


i.fab.fa-facebook:hover {
  color: white;
  background: blue;
}

i.fab.fa-instagram-square:hover {
  color: darkorange;
  background: white;
}

i.fab.fa-youtube:hover {
  color: red;
  background: white;
}


.logo img {
  height: 22px;
  width: 181px;
}

.logo {
  display: inline;
}
i.fab.fa-facebook {
  margin-right: -6px;
}

i.fab.fa-instagram-square {
  margin-right: -6px;
}
.msinwrapper a {
  text-decoration: none;
  margin-left: 14px;
  padding: 2px;
}

.msinwrapper a h3 {
  display: inline;
  font-size: 20px;
  padding: 5px;
  color: slategray;
  font-family: system-ui;
  letter-spacing: 1px;
}

.msinwrapper a h3:hover {
      background: darkgray;
      color: black;
}

.msinwrapper {float: right;background: aqua;padding: 5px;margin-top: -5px;padding-left: 0;}
.menu {
  background: yellowgreen;
  height: 27px;
  padding: 5px;
}
.msinwrapper a:first-child {
  padding-left: 276px;
}

.about_us {
  width: 315px;
  padding-left: 52px;
  float: left;
  margin-right: 50px;
  height: 300px;
  padding-top: 35px;
}

.social {}

.adress {
  width: 315px;
  padding-left: 52px;
  float: left;
  margin-right: 50px;
  height: 300px;
  padding-top: 35px;
  color: white;
}

.about_us p {
}

.footer_details {
}

a.fb_icon\> {
  font-size: 28px;
  margin-right: 10px;
  color: darkgoldenrod;
}

a.instra {
  font-size: 28px;
  color: darkgoldenrod;
  margin-right: 10px;
}

a.youtubeicon {
  font-size: 28px;
  color: darkgoldenrod;
}

.about_us h1 {
  border-bottom: 2px solid red;
  color: white;
}

h1.map {
  font-size: 26px;
  display: inline;
  float: left;
  padding: 14px;
  margin-top: -17px;
}
h1.adreess.h1 {
  border-bottom: 2px solid red;
}

.contact_us {width: 315px;padding-left: 52px;float: left;height: 300px;color: white;padding-top: 35px;}

h1.contactus.h1 {
  border-bottom: 2px solid red;
}
.footer_details {
  width: 1247px;
  background: black;
  margin-top: -25px;
  padding-top: 0px;
}

.about_us {}

.about_us p {
  font-size: 21px;
  color: white;
}

.about_us {}

.location h2 {
  font-size: 18px;
}
i.fas.fa-mobile-alt {
  font-size: 29px;
  float: left;
  padding: 15px;
  padding-left: 0;
  margin-left: -32px;
}

.footer_phone h3 {
  font-size: 18px;
  padding: 19px;
}

i.fas.fa-paper-plane {
  float: left;
  font-size: 28px;
  padding: 10px;
}

.footer_email h3 {
  font-size: 19px;
  padding: 10px;
}
.abc {text-align: center;}

.abc h3 {
  font-size: 25px;
  letter-spacing: 3px;
  word-spacing: 2px;
  color: darkred;
  margin-bottom: 0;
}
footer {
  background: black;
  padding-bottom: 1px;
  margin-top: -25px;
}
input[type="email"] {
  margin-top: 11px;
}

h2 {}

.send_email h2 {
  margin-top: -13px;
}

.send_email_msg {
  margin-top: -4px;
}

input[type="text"] {
}

button.send {
  width: 176px;
  margin-top: 23px;
  background: red;
}

button.send h2 {height: 8px;margin-top: -2px;font-size: 18px;}
.send_email_msg h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.send_email h2 {
  font-size: 20px;
  margin-bottom: -3px;
}


#main section
.left_page {width: 35%;margin-left: 10%;padding: 10px;color: wheat;float: left;height: 650px;text-align: center;}

section.msg_page {
}

.left_page {}

.contact.form {
}

.contact.form h1 {
    font-size: 40px;
    text-align: center;
}

.name h2 {
    font-size: 15px;
}

input#fname {
    width: 90px;
    float: left;
}

input#lname {
    width: 90px;
    float: left;
    margin-left: 2px;
    margin-top: -18px;
}

.name {
    margin-bottom: -7px;
    padding-left: 65px;
}

.Enter.email h2 {
    font-size: 15px;
}

input#email {
    width: 191px;
    margin-top: -2px;
}

.Enter.phone.number h2 {
    font-size: 17px;
}

input#phone {
    width: 191px;
}

.message h2 {
    font-size: 17px;
}

.left_page {
}

.contact.form {
}

.contact.form h1 {
  font-size: 40px;
  text-align: center;
}

.name h2 {font-size: 17px;margin-bottom: 5px;margin-top: 17px;}


input#fname {
  width: 90px;
  float: left;
}

input#lname {
  width: 90px;
  margin-left: 2px;
  margin-top: -18px;
  float: left;
}

.Enter.email h2 {
  font-size: 17px;
  margin-top: -6px;
  margin-bottom: 6px;
}

input#email {
  width: 191px;
  margin-top: 0px;
}

.Enter.phone.number h2 {
  font-size: 17px;
  margin-bottom: 7px;
}

input#phone {
  width: 191px;
}

.message h2 {
  font-size: 17px;
  margin-top: 11px;
  margin-bottom: 6px;
}
.left_page {
  width: 30%;
  color: wheat;
  float: left;
  margin-top: 0px;
  padding-left: 100px;
  margin-left: 14%;
  height: 500px;
  border: 5px solid blue;
}



.contact.form {float: left;width: 35%;margin-left: -3px;background: wheat;height: 500px;border: 5px solid blue;}

.contact.form h1 {
  text-align: center;
  font-size: 40px;
  color: crimson;
  border-bottom: 5px solid darkmagenta;
}
.Enter.email {
  padding-left: 65px;
}

.Enter.phone.number {
  padding-left: 65px;
}

.message {
  padding-left: 65px;
}

input#fname {
  width: 191p;
}
input#smsg {
  width: 191px;
  height: 41px;
  text-align: center;
}

button.send_message {
  padding: 2px;
  margin-top: 30px;
  margin-left: 32%;
  height: 30px;
  background: lawngreen;
  font-family: ui-monospace;
  width: 144px;
}

button.send_message h2 {margin-top: 0;}
.Address p {
  color: #ddd;
  font-size: 14px;
}

.Address {margin-top: 125px;padding-left: 15px;}

.Address h2 {
  margin: 0;
  margin-bottom: -2px;
}

.phone h2 {
  margin-bottom: -5px;
}

.phone p {
  color: #ddd;
}

.email h2 {
  margin-bottom: -4px;
}

.email p {
  color: #ddd;
  margin-left: 2px;
}

.phone {
  padding-left: 15px;
}

.email {
  padding-left: 15px;
}

.page.full.page {height: 456px;padding-top: 10px;}
body{
  margin: 0;
}
.container{
  background-color: cornflowerblue;
  height: 550px;
}



